<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<div class="container">

<hr>
<h3>Faça Uma Pergunta <a href="/perguntar" class="btn btn-primary">Perguntar</a></h3>

<% perguntas.forEach(perguntas =>{ %>
    <hr>
    <div class="card">
        <div class="card-header">
         
                <%= perguntas.titulo %>
              
        </div>   

        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="/p/<%=perguntas.id%>">Responder</a>
        </div>
        <% }) %>
    </div>
  
    <hr>
   
   <br>


</div>